<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BI_featuredBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{398,398}</string>
    <key>spriteSourceSize</key>
    <string>{398,398}</string>
    <key>textureRect</key>
    <string>{{0,2},{398,398}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BI_historyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{182,184}</string>
    <key>spriteSourceSize</key>
    <string>{182,184}</string>
    <key>textureRect</key>
    <string>{{400,2},{182,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BI_mostLikedBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{398,398}</string>
    <key>spriteSourceSize</key>
    <string>{398,398}</string>
    <key>textureRect</key>
    <string>{{584,2},{398,398}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BI_randomBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,132}</string>
    <key>spriteSourceSize</key>
    <string>{130,132}</string>
    <key>textureRect</key>
    <string>{{984,2},{130,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>BI_GameSheet-uhd.png</string>
   <key>size</key>
   <string>{1116,402}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>BI_GameSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
